@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Cherry+Bomb+One&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    box-sizing: border-box !important;
    text-decoration: none;
}

.my-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

:root {

    /* font-size   */
    --fs-xsm: 18px;
    --fs-sm: 28px;
    --fs-md: 60px;
    --fs-lg: 70px;
    --fs-xl: 50px;
    --fs-xxl: 24px;
    --fs-2xl: 16px;

    /* / colors / */
    --bg-green: #9acc44;
    --color-white: #fff;
    --bg-dark-green: #5BA72B;

    /* / font-family  */
    --ff-cherry: 'Cherry Bomb One';
    --ff-Balsamiq: 'Balsamiq Sans';
}

.ff-cherry {
    font-family: var(--ff-cherry);
}


.ff-Balsamiq {
    font-family: var(--ff-Balsamiq);
}

.fs-18 {
    font-size: var(--fs-xsm);
}

.fs-28 {
    font-size: var(--fs-sm);
}

.fs-60 {
    font-size: var(--fs-md);
}

.fs-70 {
    font-size: var(--fs-lg);
}

.fs-50 {
    font-size: var(--fs-xl);
}

.fs-24 {
    font-size: var(--fs-xxl);
}

.fs-16 {
    font-size: var(--fs-2xl);
}

.lh-164 {
    line-height: 164%;
}

.bg-green {
    background: #9ACC44;
}

.max-w-665 {
    max-width: 665px;
}

.green-card {
    height: 293px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.10);
    transition: all 500ms linear;
}

.green-card:hover {
    background: linear-gradient(0deg, #5BA72B, #5BA72B),
        linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    transition: all 500ms linear;
}

.green-card:hover .cardsvg svg path {
    opacity: 0.9;
}

.opacity {
    opacity: 0.3;
}

.pl-20 {
    padding-left: 20px;
}


.pt-60 {
    padding-top: 60px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ellipse {
    position: absolute;
    top: 5%;
    left: -6%;
    z-index: -1;
}

.ellipse2 {
    position: absolute;
    top: 3%;
    right: -4%;
    z-index: -1;
}

.ellipse3 {
    position: absolute;
    top: 12%;
    left: -1%;
    z-index: -1;
}

.ellipse4 {
    position: absolute;
    top: 9%;
    right: -4%;
    z-index: -1;
}

.ellipse5 {
    position: absolute;
    bottom: -1%;
    left: -1%;
    z-index: -2;
}

.tree {
    position: absolute;
    left: -8%;
    bottom: -2%;
    z-index: -1;
}

.content-box {
    width: 100%;
    padding: 15px;
    gap: 95px;
    border-radius: 19px;
    border: 7px solid #FFF;
    background: var(--bg-dark-green);
}

.tree-img-2 {
    position: absolute;
    bottom: -2%;
    left: -8%;
    z-index: -1;
}

.color-white-light {
    color: rgba(255, 255, 255, 0.80)
}

.pl-7 {
    padding-left: 7px;
}

.pl-content {
    padding-left: 15px;
}

.d_none {
    display: none;
}

.d_block {
    display: block;
}


@media (min-width:992px) {
    .content-box {
        padding: 65px 25px 65px 55px !important;
    }

    .tree-img-2 {
        position: absolute;
        bottom: -5%;
        left: -12%;
        z-index: -1;
    }

    .text-lg-nowrap {
        white-space: nowrap;
    }
}

@media(min-width:576px) {
    .pl-content {
        padding-left: 45px;
    }

    .content-box {
        padding: 25px;
    }

    .pr-70 {
        padding-right: 70px;
    }

    .pr-40 {
        padding-right: 40px;
    }

}

@media(min-width:1200px) {
    .crossbtn {
        position: absolute;
        top: -43%;
        right: 1%;
    }

}